<a href="https://colab.research.google.com/github/ydadwhal/DataScienceDIAT/blob/main/2502.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
list1=[1,2,3,4,5,6]
sr1=pd.Series(list1)

In [ ]:
sr1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
idx=['a','b','c','d','e','f']

In [ ]:
sr2=pd.Series(list1,index=idx)

In [ ]:
sr2

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
sr2.keys()

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
'a' in sr2

True

In [ ]:
list(sr2.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6)]

In [ ]:
sr2['g']=8

In [ ]:
sr2['a':'c']

a    1
b    2
c    3
dtype: int64

In [ ]:
sr2[0:2]

a    1
b    2
dtype: int64

In [ ]:
sr2[(sr2>3) & (sr2<5)]

d    4
dtype: int64

In [ ]:
sr2[['a','e']]

a    1
e    5
dtype: int64

In [ ]:
r1=np.array([1,1,2,5,4,5,8])

In [ ]:
sr3=pd.Series(r1)

In [ ]:
sr3

0    1
1    1
2    2
3    5
4    4
5    5
6    8
dtype: int64

In [ ]:
dict1={'a':20,'a':30,'c':40}

In [ ]:
dict1['a']

30

In [ ]:
sr4=pd.Series(dict1)

In [ ]:
sr4

a    20
b    30
c    40
dtype: int64

In [ ]:
dict2=dict(sr4)

In [ ]:
dict2

{'a': 30, 'c': 40}

In [ ]:

dict(sr1)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [ ]:
sr5=sr4.append(sr1)

In [ ]:
sr5

a    20
b    30
c    40
0     1
1     2
2     3
3     4
4     5
5     6
dtype: int64

In [ ]:
sr5[-4:-1]

2    3
3    4
4    5
dtype: int64

In [ ]:
sr5.drop('c')

a    20
b    30
0     1
1     2
2     3
3     4
4     5
5     6
dtype: int64

In [ ]:
sr5.add(sr1)

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5    12.0
a     NaN
b     NaN
c     NaN
dtype: float64

In [ ]:
sr5.sub(sr1)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
a    NaN
b    NaN
c    NaN
dtype: float64

In [ ]:
sr5.div(sr1)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
a    NaN
b    NaN
c    NaN
dtype: float64

In [ ]:
sr5.mean()

12.333333333333334

In [ ]:
sr5.median()

5.0

In [ ]:
sr5.describe()

count     9.000000
mean     12.333333
std      14.239031
min       1.000000
25%       3.000000
50%       5.000000
75%      20.000000
max      40.000000
dtype: float64

In [ ]:
sr2.loc['b']

2

In [ ]:
sr2.loc['a':'c']

a    1
b    2
c    3
dtype: int64

# Data Frames

In [ ]:
dict1={'Nname':['Girish','Bala','Ruchi','Nalini','Rohit','Prayas'],'Age':[23,19,20,23,55,19]}

In [ ]:
df1=pd.DataFrame(dict1,index=[1001,1002,1003,1004,1005,1006])

In [ ]:
df1

       Nname  Age
1001  Girish   23
1002    Bala   19
1003   Ruchi   20
1004  Nalini   23
1005   Rohit   55
1006  Prayas   19

In [ ]:
df1.head(3)

       Nname  Age
1001  Girish   23
1002    Bala   19
1003   Ruchi   20

In [ ]:
df1.tail(3)

       Nname  Age
1004  Nalini   23
1005   Rohit   55
1006  Prayas   19

In [ ]:
df1.index

Int64Index([1001, 1002, 1003, 1004, 1005, 1006], dtype='int64')

In [ ]:
df1.columns

Index(['Nname', 'Age'], dtype='object')

In [ ]:
df1.describe()

             Age
count   6.000000
mean   26.500000
std    14.081903
min    19.000000
25%    19.250000
50%    21.500000
75%    23.000000
max    55.000000

In [ ]:
df1[2:4]

       Nname  Age
1003   Ruchi   20
1004  Nalini   23

In [ ]:
df1.loc[1002]

Nname    Bala
Age        19
Name: 1002, dtype: object

In [ ]:
df1.iloc[1:5]

       Nname  Age
1002    Bala   19
1003   Ruchi   20
1004  Nalini   23
1005   Rohit   55